.finance-info {
    text-align: center;
  }
  


  .modal-overlay-finance {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .modal-content-finance {
    background: black;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .settings-icon-finance {
    position: absolute;
    top: -25px; 
    right: -5px; 
    font-size: 12px; 
    color: transparent;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .finance-info:hover .settings-icon-finance {
    color:#808080; 
  }
  
  .up {
    color: green;
}
.down {
    color: red;
}

.overflow-hidden {
  overflow: hidden;
  width: 100%; 
}

.flex {
  display: flex;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  display: flex;
}

.text-shadow {
  text-shadow: .3px .3px .4px rgba(250, 250, 250, 250); /* Gölge ayarlarını buradan değiştirebilirsiniz */
}
