/* Genel stil ayarları
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
} */

/* Form konteyneri */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.register-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    font-size: 14px;
    background-color: #2C2C2C;
    color: white;
  }
  
  .register-container .register-btn {
    background-color: #425c72; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
    letter-spacing: 1px;
  }
  .register-container button:hover {
    opacity: 0.7;
  }

  .login-btn2 {
    cursor: pointer;
    margin: 5px 0;
    & a {
      color: #4B98DB; 
      text-decoration: none;
    }
    & a:hover {
      text-decoration: underline; 
    }
  }

  .form-container-register {
    background-color: black;
    border-radius: 10px;
    min-width: 300px;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    & h2 {
      color: #ffffff;
      margin-bottom: 10px;
      text-align: center;
    }
}
