/* .gmail-left, .gmail-right {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
} */

/* .gmail-container:hover .gmail-left,
.gmail-container:hover .gmail-right {
    opacity: 1;
} */